<div class="text-center">
    <h1 class="display-4">StockExchange stock exchange</h1>
    <div>
        <p class="block">Ooops, an error has occured. Please try later</p>
    </div>
</div>

<style>
    .block {
        display: block;
        font-size: 50px;
        width: 100%;
        border: none;
        color: red;
        padding: 14px 28px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 100px;
    }
</style>
